@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  border: none;
  background: #00e673;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
}
